In [13]:
import pandas as pd

In [14]:
data = pd.read_csv("./Year_Released Title and Metacritic Rating.csv")
imdb_db = pd.read_csv('./imdb_db.csv')

In [15]:
imdb_db = imdb_db[['primaryTitle','averageRating','startYear']]
imdb_db = pd.DataFrame(imdb_db)
imdb_db.columns = ['Title','Imdb Rating','Year']

In [16]:
data_1plus = data.loc[data['Year'] != 'TBA']
data_1plus['Year'] = data_1plus['Year'].astype(int)
data_1plus['Year'] = data_1plus['Year'] + 1

In [17]:
combined_1plus = pd.merge(data_1plus,imdb_db,how='inner',on = ('Title','Year'))

In [18]:
data_2plus = data.loc[data['Year'] != 'TBA']
data_2plus['Year'] = data_2plus['Year'].astype(int)
data_2plus['Year'] = data_2plus['Year'] + 2

In [19]:
combined_2plus = pd.merge(data_2plus,imdb_db,how='inner',on = ('Title','Year'))

In [20]:
data_3plus = data.loc[data['Year'] != 'TBA']
data_3plus['Year'] = data_3plus['Year'].astype(int)
data_3plus['Year'] = data_3plus['Year'] + 3
data_3plus.head()

           Title  Year  Metacritic Rating  Netflix  Amazon  Hulu
0   Citizen Kane  1944                100      NaN     NaN   NaN
1  The Godfather  1975                100      NaN     NaN   NaN
2    Rear Window  1957                100      NaN     NaN   NaN
3     Casablanca  1946                100      NaN     NaN   NaN
4        Boyhood  2017                100      NaN     NaN   NaN

In [21]:
combined_3plus = pd.merge(data_3plus,imdb_db,how='inner',on = ('Title','Year'))

In [22]:
data_4plus = data.loc[data['Year'] != 'TBA']
data_4plus['Year'] = data_4plus['Year'].astype(int)
data_4plus['Year'] = data_4plus['Year'] + 4

In [23]:
combined_4plus = pd.merge(data_4plus,imdb_db,how='inner',on = ('Title','Year'))

In [24]:
data_5plus = data.loc[data['Year'] != 'TBA']
data_5plus['Year'] = data_5plus['Year'].astype(int)
data_5plus['Year'] = data_5plus['Year'] + 4

In [25]:
combined_5plus = pd.merge(data_5plus,imdb_db,how='inner',on = ('Title','Year'))

In [26]:
data_1minus = data.loc[data['Year'] != 'TBA']
data_1minus['Year'] = data_1minus['Year'].astype(int)
data_1minus['Year'] = data_1minus['Year'] - 1

In [27]:
combined_1minus = pd.merge(data_1minus,imdb_db,how='inner',on = ('Title','Year'))

In [28]:
data_2minus = data.loc[data['Year'] != 'TBA']
data_2minus['Year'] = data_2minus['Year'].astype(int)
data_2minus['Year'] = data_2minus['Year'] - 2

In [29]:
combined_2minus = pd.merge(data_2minus,imdb_db,how='inner',on = ('Title','Year'))

In [30]:
data_3minus = data.loc[data['Year'] != 'TBA']
data_3minus['Year'] = data_3minus['Year'].astype(int)
data_3minus['Year'] = data_3minus['Year'] - 3

In [31]:
combined_3minus = pd.merge(data_3minus,imdb_db,how='inner',on = ('Title','Year'))

In [32]:
data_4minus = data.loc[data['Year'] != 'TBA']
data_4minus['Year'] = data_4minus['Year'].astype(int)
data_4minus['Year'] = data_4minus['Year'] - 4

In [33]:
combined_4minus = pd.merge(data_4minus,imdb_db,how='inner',on = ('Title','Year'))

In [34]:
data_5minus = data.loc[data['Year'] != 'TBA']
data_5minus['Year'] = data_5minus['Year'].astype(int)
data_5minus['Year'] = data_5minus['Year'] - 5

In [35]:
combined_5minus = pd.merge(data_5minus,imdb_db,how='inner',on = ('Title','Year'))

In [36]:
near_matches = [combined_1plus,combined_2plus,combined_3plus,combined_4plus,combined_5plus,combined_1minus,combined_2minus,combined_3minus,combined_4minus,combined_5minus]

In [37]:
near_matches_df = pd.concat(near_matches)
near_matches_df.reset_index(drop=True)
near_matches_df.drop_duplicates()

,Title,Year,Metacritic Rating,Netflix,Amazon,Hulu,Imdb Rating
0,Boys Don't Cry,2000,90,NaN,NaN,NaN,7.6
1,The Circle,2002,88,NaN,NaN,NaN,5.0
2,Together,2002,87,NaN,NaN,NaN,7.4
0,Taxi Driver,1978,96,NaN,NaN,NaN,5.4
1,The Circle,2003,88,NaN,NaN,NaN,5.0
2,The Return,2006,86,NaN,NaN,NaN,4.8
0,The Circle,2005,88,NaN,NaN,NaN,5.8
0,Casablanca,1942,100,NaN,NaN,NaN,8.5
1,My Left Foot,1989,99,NaN,NaN,NaN,7.9
2,Gone with the Wind,1939,99,NaN,NaN,NaN,8.2
3,Spirited Away,2001,97,NaN,NaN,NaN,8.6
4,Snow White and the Seven Dwarfs,1937,96,NaN,NaN,NaN,7.6
5,The Servant,1963,96,NaN,NaN,NaN,7.9
6,Crumb,1994,95,NaN,NaN,NaN,8.0
7,Platoon,1986,95,NaN,NaN,NaN,8.1
8,Werckmeister Harmonies,2000,94,NaN,NaN,NaN,8.2
9,Atanarjuat: The Fast Runner,2001,94,NaN,NaN,NaN,7.5
10,After Life,1998,94,NaN,NaN,NaN,7.7
11,The African Queen,1951,94,NaN,NaN,NaN,7.9
12,The Ladykillers,1955,94,NaN,NaN,NaN,7.8
13,The Circus,1928,93,NaN,NaN,NaN,8.1
14,Force of Evil,1948,92,NaN,NaN,NaN,7.4
15,It's a Wonderful Life,1946,92,NaN,NaN,NaN,8.6
16,Deep Red,1975,92,NaN,NaN,NaN,7.7
17,Y Tu Mamá También,2001,91,NaN,NaN,NaN,7.7
18,Tulpan,2008,91,NaN,NaN,NaN,7.1
19,Time Out,2001,91,NaN,NaN,NaN,7.4
20,Nobody Knows,2004,91,NaN,NaN,NaN,8.1
21,Life Is Sweet,1990,91,NaN,NaN,NaN,7.5
22,Superman II,1980,90,NaN,NaN,NaN,6.8
...,...,...,...,...,...,...,...
96,Autumn Tale,1998,85,NaN,NaN,NaN,7.6
0,Maborosi,1995,94,NaN,NaN,NaN,7.6
1,My Voyage to Italy,1999,93,NaN,NaN,NaN,8.3
2,The Best of Youth,2003,92,NaN,NaN,NaN,8.5
3,Springtime in a Small Town,2002,89,NaN,NaN,NaN,7.0
4,Offside,2005,89,NaN,NaN,NaN,6.8
5,Harakiri,1962,88,NaN,NaN,NaN,8.7
6,Hero,2002,88,NaN,NaN,NaN,7.9
7,Distant,2002,88,NaN,NaN,NaN,7.7
8,Tell No One,2006,86,NaN,NaN,NaN,7.5
9,Winged Migration,2001,86,NaN,NaN,NaN,8.0
10,Memories of Murder,2003,86,NaN,NaN,NaN,8.1
11,The Twilight Samurai,2002,86,NaN,NaN,NaN,8.1
12,Merci pour le Chocolat,2000,86,NaN,NaN,NaN,6.7
0,Taxi Driver,1973,96,NaN,NaN,NaN,6.4
1,Cinderella,1947,88,NaN,NaN,NaN,7.7
2,Taxidermia,2006,87,NaN,NaN,NaN,7.0
0,Beauty and the Beast,1987,97,NaN,NaN,NaN,6.2
1,Almost Famous,1996,93,NaN,NaN,NaN,7.2
2,El Dorado,1963,89,NaN,NaN,NaN,6.7
3,Sleeping Beauty,1955,89,NaN,NaN,NaN,7.1
4,The Sun,2005,88,NaN,NaN,NaN,7.4
5,Venus,2002,86,NaN,NaN,NaN,7.0
6,The Illusionist,2006,86,NaN,NaN,NaN,7.6
7,Sugar,2005,86,NaN,NaN,NaN,5.0
8,The Maid,2005,86,NaN,NaN,NaN,5.8
0,Sugar,2004,86,NaN,NaN,NaN,5.5
2,Requiem,2001,86,NaN,NaN,NaN,5.2
3,Requiem,2001,86,NaN,NaN,NaN,6.7
4,Requiem,2001,86,NaN,NaN,NaN,5.5

In [38]:
near_matches_df.to_csv(index=False, path_or_buf = './Near Matches.csv')